LR-3_XML/music_albums.dtd

<!ELEMENT musicCatalog (album)*>
<!ELEMENT album (title, artists, genres, releaseDate, ageRestriction, tracks)>
<!ATTLIST album id ID #REQUIRED>
<!ELEMENT title (#PCDATA)>
<!ELEMENT artists (artist)+>
<!ELEMENT artist (#PCDATA)>
<!ELEMENT genres (genre)+>
<!ELEMENT genre (#PCDATA)>
<!ELEMENT releaseDate (#PCDATA)>
<!ELEMENT ageRestriction (#PCDATA)>
<!ELEMENT tracks (track)+>
<!ELEMENT track (title, duration)>
<!ELEMENT duration (#PCDATA)>